
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body{
    font-family: 'Press Start 2P', cursive;
    background-color: darkslateblue;
}
form{
    background-color: darkgoldenrod;
    height: 150px;
    width: 150px;
    margin: 20px;
    text-align: center;
    justify-content: center;
    border:2px solid darkgreen;
    
    

}



